div .cart {
    display: none;
    background-color: rgba(211, 211, 211, 0.5);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 40px 20px 10px 20px;
    border-left: 1px solid rgba(128, 128, 128, 0.295);
    @include breakpoint-up(large){
        display: inline-block;
    }
    &_item {
        display: grid;
        grid-template-columns: 3fr 1fr;
        padding: 10px 0px;
        &_info {
            color: rgb(63, 63, 63);
        }
        &_price {
            color: rgb(56, 56, 56);
            justify-self: center;
        }
        &:last-child {
            padding-top: 5%;
            font-weight: bold;
        }
        & .total {
            align-self: center;
        }
    }
    &:last-child {
        padding-top: 40px;
    }
}

.total_p {
    font-size: 24px;
}
.resumen_orden {
    margin: 20px 5px;
    @include breakpoint-up(large){
        display: none;
    }
}

.tu_compra {
    margin: 0 auto;
    text-align: left;
    text-decoration: none;
}