.footer {
    &_logo {
        margin: 0 auto;
    }
}

.asociate {
    width: 150px;
}

.social-icons {
    padding-bottom: 10px;
     & a {
        padding: 5px; 
     }
}
.qr {

    @include breakpoint-up(medium) {
        display: grid;
        grid-template-columns: 0.3fr 1fr;
        width: 25%;
        margin: 0 auto;
        padding: 10px 0px;
        max-width: 300px;
    }

    & a  img {
        width: 10%;
        padding-bottom: 10px;
        @include breakpoint-up(medium){
            width: 100%;
            padding-bottom: 0px;
        }
    }
    
}
.qr p {
    font-size: 11px;
    text-align: center;
}
.image-18 {
    margin-top: 0!important;
    width: 100%;
}