.footer {
    &_logo {
        margin: 0 auto;
        justify-self: center;
        align-self: center;
    }
    @include breakpoint-up(large) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.asociate {
    width: 150px;
    @include breakpoint-up(large){
        width: 200px;
    }
}

.qr {

    @include breakpoint-up(medium) {
        display: grid;
        grid-template-columns: 0.3fr 1fr;
        width: 90%;
        margin: 0 auto;
        padding: 10px 0px;
        max-width: 300px;
    }

    & img {
        width: 10%;
        padding-bottom: 10px;
        @include breakpoint-up(medium){
            width: 100%;
            padding-bottom: 0px;
        }
    }
    
}
.qr p {
    font-size: 11px;
    text-align: center;
    color: white;
    padding: 10px;
}
.image-18 {
    margin-top: 0!important;
    width: 100%;
}