.crumbs.mobile {
    margin: 0px 20px;
    @include breakpoint-up(large){
        display: none;
    }
    & ul { 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        font-size: 15px;
        margin: 0;
        padding: 10px;
        @include breakpoint-up(large){
            font-size: 17px;
            width: max-content;
        } 
        & li {
            list-style: none;
            background-color: $grey-back;
            padding: 10px;
            text-align: center;
            &:first-child {
                border-radius: 10px 0px 0px 10px;
            }
            &:last-child {
                border-radius: 0px 10px 10px 0px;
            }
            &.active_bread {
                background-color: $asociate-blue;
            }
            &.active_bread a {
                color: white;
            }
            & a {
                text-decoration: none;
                color: grey;
                width: 100%;
                display: block;
            }
        }
    }

}

.crumbs.desktop {
    margin: 0px 10px;
    display: none;
    @include breakpoint-up(large){
        display: block;
    }
    & ul { 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        font-size: 15px;
        margin: 0;
        padding: 10px;
        @include breakpoint-up(large){
            font-size: 17px;
        } 
        & li {
            list-style: none;
            background-color: white;
            padding: 10px;
            text-align: center;
            &:first-child {
                border-radius: 10px 0px 0px 10px;
            }
            &:last-child {
                border-radius: 0px 10px 10px 0px;
                color: $grey-back;
            }
            &.active_bread {
                background-color: $asociate-blue;
            }
            &.active_bread a {
                color: rgb(255, 255, 255);
            }
            & a {
                text-decoration: none;
                color: grey;
                width: 100%;
                display: block;
            }
        }
    }

}

.logo {
    width: 100%;
    text-align: center;
    @include breakpoint-up(large){
        text-align: left;
    }
}

