.logo {
    width: 100%;
    text-align: center;
    margin-top: 3%;
    @include breakpoint-up(large){
        text-align: left;
        margin-top: 0;
    }
    & img {
        padding: 20px 10px 10px;
    }
}

