h3 {
    font-family: 'Noto Sans KR', sans-serif;
}
.protected {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: #f6f6f6; //$whitesutil
    border-radius: 7px;
    box-shadow: 0 2.8px 2.2px rgba(185, 185, 185, 0.034),
    0 6.7px 5.3px rgba(185, 185, 185, 0.034),
    0 12.5px 10px rgba(185, 185, 185, 0.034),
    0 22.3px 17.9px rgba(185, 185, 185, 0.034),
    0 41.8px 33.4px rgba(185, 185, 185, 0.034),
    0 100px 80px rgba(185, 185, 185, 0.034);
    padding: 12px 5px;
    margin: 0 auto;
    max-width: 300px;
    @include breakpoint-up(large){
        margin: 0;
        padding: 8px 5px;
    }
    & svg {
        margin-top: 7px;
        justify-self: center;
    }
    &_text {
        justify-self: center;
        align-self: center;
        padding: 3px;
        display: grid;
        grid-template-rows: 0.5fr 1fr;
        & h6 {
            font-size: 15px;
            margin-bottom: 3px;
        }
        & p {
            font-size: 12px;
            margin-bottom: 0;
        }
    }
}

.detalle {
    @include breakpoint-up(large){
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: center;    
    }
}

.general {
    margin: 10px 30px 30px;
    @include breakpoint-up(large){
        margin: 10px 30px 50px;
    }
}

.pago {
    margin: 10px 30px 20px;
}


.formulario {
    padding: 0px 30px;
}

.formis{
    margin-top: 0.75rem!important;
    @include breakpoint-up(large){
        margin-top: 1rem;
    }
}
.grey_box {
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 400px;
    background-color: $white-sutil; 
    box-shadow: 0 2.8px 2.2px rgba(185, 185, 185, 0.034),
    0 6.7px 5.3px rgba(185, 185, 185, 0.034),
    0 12.5px 10px rgba(185, 185, 185, 0.034),
    0 22.3px 17.9px rgba(185, 185, 185, 0.034),
    0 41.8px 33.4px rgba(185, 185, 185, 0.034),
    0 100px 80px rgba(185, 185, 185, 0.034); 
    border-radius: 10px; 
    & p {
        font-size: 16px;
        margin-bottom: 0;
    }
    @include breakpoint-up(large){
        margin: 20px;
        & p {
            font-size: 14px;
        }
    }
}
a button {
    text-align: center;
    max-width: 600px;
    margin: 3%;
    @include breakpoint-up(medium) {
        margin: 0 20%;
    }
    @include breakpoint-up(large){
        width: 60%;
    }
}
.button_grid {
    padding-bottom: 30px;
    margin: 0 auto;
    @include breakpoint-up(large) {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 5px;
        align-items: center;

        & a {
            justify-self: center;
        }
    }
}
.form-check {
    margin: 10px 10px;
}
.g-3, .gy-3 {
    --bs-gutter-y: 1.25rem;
}
.w100 {
    width: 100%;
    @include breakpoint-up(large){
        width: max-content;
    }
}
.form-control {
    padding: .75rem 0.75rem!important;
}

.input-group-text {
    padding: 1.25rem 1rem!important;
}

.specifics {
    font-size: 15px;
    @include breakpoint-up(large) {
        font-size: 16px;
    }
}
.form_text {
    margin: 0px 30px;
}