

.payment {
    margin-bottom: 20px;
    &_cards{
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
        gap: 8px;
        justify-items: center;
        align-items: center;
        padding: 0 3%;
        @include breakpoint-up(large){
            padding: 0px;
        }
    }
    @include breakpoint-up(medium){
        display: grid;
        grid-template-columns: 3fr 2fr;
        margin: 10px 30px;
        align-items: center;
        justify-items: center;
        &_info {
            padding: 0px 10px;
        }
    }
}

.fab {
    font-size: 30px;
    color: $asociate-blue;
}


.payment-form-icon {
    line-height: 46px;
    margin-right: 10px;
    color: #dddddd !important;
}


.pagar {
    margin: 0 auto;
    padding: 40px;
    @include breakpoint-up(large){
        width: 60%;
    }
}
