/* change to #fafafa*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 64em) {
  body {
    background-color: lightblue !important;
  }
}

@media (min-width: 64em) {
  .the_whole {
    display: grid;
    grid-template-columns: 3fr 1.75fr;
    background-color: white;
    margin: 10px;
    border-radius: 10px 10px 10px 10px;
    max-width: 1250px;
    margin: 0 auto;
    margin-top: 10px;
  }
}

.crumbs.mobile {
  margin: 0px 20px;
}

@media (min-width: 64em) {
  .crumbs.mobile {
    display: none;
  }
}

.crumbs.mobile ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  font-size: 15px;
  margin: 0;
  padding: 10px;
}

@media (min-width: 64em) {
  .crumbs.mobile ul {
    font-size: 17px;
    width: max-content;
  }
}

.crumbs.mobile ul li {
  list-style: none;
  background-color: lightgrey;
  padding: 10px;
  text-align: center;
}

.crumbs.mobile ul li:first-child {
  border-radius: 10px 0px 0px 10px;
}

.crumbs.mobile ul li:last-child {
  border-radius: 0px 10px 10px 0px;
}

.crumbs.mobile ul li.active_bread {
  background-color: #0275d8;
}

.crumbs.mobile ul li.active_bread a {
  color: white;
}

.crumbs.mobile ul li a {
  text-decoration: none;
  color: grey;
  width: 100%;
  display: block;
}

.crumbs.desktop {
  margin: 0px 10px;
  display: none;
}

@media (min-width: 64em) {
  .crumbs.desktop {
    display: block;
  }
}

.crumbs.desktop ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  font-size: 15px;
  margin: 0;
  padding: 10px;
}

@media (min-width: 64em) {
  .crumbs.desktop ul {
    font-size: 17px;
  }
}

.crumbs.desktop ul li {
  list-style: none;
  background-color: white;
  padding: 10px;
  text-align: center;
}

.crumbs.desktop ul li:first-child {
  border-radius: 10px 0px 0px 10px;
}

.crumbs.desktop ul li:last-child {
  border-radius: 0px 10px 10px 0px;
  color: lightgrey;
}

.crumbs.desktop ul li.active_bread {
  background-color: #0275d8;
}

.crumbs.desktop ul li.active_bread a {
  color: white;
}

.crumbs.desktop ul li a {
  text-decoration: none;
  color: grey;
  width: 100%;
  display: block;
}

.logo {
  width: 100%;
  text-align: center;
  margin-top: 3%;
}

@media (min-width: 64em) {
  .logo {
    text-align: left;
    margin-top: 0;
  }
}

.logo img {
  padding: 10px;
}

.protected {
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: #e7e7e7;
  border-radius: 7px;
  box-shadow: 0 2.8px 2.2px rgba(185, 185, 185, 0.034), 0 6.7px 5.3px rgba(185, 185, 185, 0.034), 0 12.5px 10px rgba(185, 185, 185, 0.034), 0 22.3px 17.9px rgba(185, 185, 185, 0.034), 0 41.8px 33.4px rgba(185, 185, 185, 0.034), 0 100px 80px rgba(185, 185, 185, 0.034);
  padding: 8px 5px;
  margin: 0px 20px;
}

@media (min-width: 64em) {
  .protected {
    margin: 0;
  }
}

.protected svg {
  margin-top: 7px;
  justify-self: center;
}

.protected_text {
  justify-self: center;
  align-self: center;
  padding: 3px;
  display: grid;
  grid-template-rows: 0.5fr 1fr;
}

.protected_text h6 {
  font-size: 15px;
  margin-bottom: 3px;
}

.protected_text p {
  font-size: 12px;
  margin-bottom: 0;
}

.detalle {
  margin: 30px;
}

@media (min-width: 64em) {
  .detalle {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
  }
}

.formulario {
  padding: 0px 30px;
}

.formis {
  margin-top: 0.75rem !important;
}

@media (min-width: 64em) {
  .formis {
    margin-top: 1rem;
  }
}

.grey_box {
  padding: 10px;
  margin: 20px;
  background-color: lightgrey;
  border-radius: 10px;
}

.grey_box p {
  font-size: 14px;
  margin-bottom: 0;
}

a button {
  text-align: center;
}

@media (min-width: 64em) {
  a button {
    width: 60%;
  }
}

.button_grid {
  padding-bottom: 30px;
}

@media (min-width: 64em) {
  .button_grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 5px;
    align-items: center;
  }
  .button_grid a {
    justify-self: center;
  }
}

.form-check {
  margin: 30px 10px;
}

.g-3, .gy-3 {
  --bs-gutter-y: 1.25rem;
}

.w100 {
  width: 100%;
}

@media (min-width: 64em) {
  .w100 {
    width: max-content;
  }
}

.form-control {
  padding: 0.75rem 0.75rem !important;
}

div .cart {
  display: none;
  background-color: lightgrey;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  padding: 40px 20px 10px 20px;
}

@media (min-width: 64em) {
  div .cart {
    display: inline-block;
  }
}

div .cart_item {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

div .cart_item_info {
  color: blue;
}

div .cart_item_price {
  color: cadetblue;
  justify-self: center;
}

div .cart_item:last-child {
  padding-top: 40%;
}

div .cart_item .total {
  align-self: center;
}

div .cart:last-child {
  padding-top: 40px;
}

.total_p {
  font-size: 24px;
}

.resumen_orden {
  margin: 20px 5px;
}

@media (min-width: 64em) {
  .resumen_orden {
    display: none;
  }
}

.tu_compra {
  margin: 0 auto;
  text-align: left;
  text-decoration: none;
}

.nav_pasos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  margin: 10px;
}

.steps {
  display: grid;
  grid-template-columns: 1fr 3fr;
  max-width: 160px;
}

.steps_text {
  margin-left: 5px;
  padding: 5px;
  display: grid;
  grid-template-rows: 0.5fr .5fr;
}

.steps_text_title {
  font-weight: bold;
  font-size: 15px;
}

.steps_text_specific {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.ionito {
  display: block;
  background-color: lightgray;
  color: grey;
  padding: 10px;
  border-radius: 50%;
  align-self: center;
  justify-self: center;
}

.active {
  background-color: #0275d8;
  color: white;
}

.mobile {
  margin: 5%;
}

@media (min-width: 64em) {
  .mobile {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */