/* change to #fafafa*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

@media (min-width: 64em) {
  body {
    background-color: lightblue !important;
  }
}

@media (min-width: 64em) {
  .the_whole {
    display: grid;
    grid-template-columns: 3fr 1.75fr;
    background-color: white;
    margin: 1%;
    border-radius: 10px 10px 10px 10px;
    max-width: 1250px;
    margin: 0 auto;
    margin-top: 1%;
  }
}

.logo {
  width: 100%;
  text-align: center;
  margin-top: 3%;
}

@media (min-width: 64em) {
  .logo {
    text-align: left;
    margin-top: 0;
  }
}

.logo img {
  padding: 10px;
}

.protected {
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: #e7e7e7;
  border-radius: 7px;
  box-shadow: 0 2.8px 2.2px rgba(185, 185, 185, 0.034), 0 6.7px 5.3px rgba(185, 185, 185, 0.034), 0 12.5px 10px rgba(185, 185, 185, 0.034), 0 22.3px 17.9px rgba(185, 185, 185, 0.034), 0 41.8px 33.4px rgba(185, 185, 185, 0.034), 0 100px 80px rgba(185, 185, 185, 0.034);
  padding: 8px 5px;
  margin: 0px 20px;
}

@media (min-width: 64em) {
  .protected {
    margin: 0;
  }
}

.protected svg {
  margin-top: 7px;
  justify-self: center;
}

.protected_text {
  justify-self: center;
  align-self: center;
  padding: 3px;
  display: grid;
  grid-template-rows: 0.5fr 1fr;
}

.protected_text h6 {
  font-size: 15px;
  margin-bottom: 3px;
}

.protected_text p {
  font-size: 12px;
  margin-bottom: 0;
}

.detalle {
  margin: 10px 30px 30px;
}

@media (min-width: 64em) {
  .detalle {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
  }
}

.formulario {
  padding: 0px 30px;
}

.formis {
  margin-top: 0.75rem !important;
}

@media (min-width: 64em) {
  .formis {
    margin-top: 1rem;
  }
}

.grey_box {
  padding: 10px;
  margin: 20px;
  background-color: #e7e7e7;
  box-shadow: 0px 0px 36px -5px rgba(0, 0, 0, 0.2);
  /*
    box-shadow: 0 2.8px 2.2px rgba(185, 185, 185, 0.034),
    0 6.7px 5.3px rgba(185, 185, 185, 0.034),
    0 12.5px 10px rgba(185, 185, 185, 0.034),
    0 22.3px 17.9px rgba(185, 185, 185, 0.034),
    0 41.8px 33.4px rgba(185, 185, 185, 0.034),
    0 100px 80px rgba(185, 185, 185, 0.034); */
  border-radius: 10px;
}

.grey_box p {
  font-size: 14px;
  margin-bottom: 0;
}

a button {
  text-align: center;
}

@media (min-width: 64em) {
  a button {
    width: 60%;
  }
}

.button_grid {
  padding-bottom: 30px;
}

@media (min-width: 64em) {
  .button_grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 5px;
    align-items: center;
  }
  .button_grid a {
    justify-self: center;
  }
}

.form-check {
  margin: 30px 10px;
}

.g-3, .gy-3 {
  --bs-gutter-y: 1.25rem;
}

.w100 {
  width: 100%;
}

@media (min-width: 64em) {
  .w100 {
    width: max-content;
  }
}

.form-control {
  padding: 0.75rem 0.75rem !important;
}

div .cart {
  display: none;
  background-color: rgba(211, 211, 211, 0.5);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  padding: 40px 20px 10px 20px;
  border-left: 1px solid rgba(128, 128, 128, 0.295);
}

@media (min-width: 64em) {
  div .cart {
    display: inline-block;
  }
}

div .cart_item {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 10px 0px;
}

div .cart_item_info {
  color: #3f3f3f;
}

div .cart_item_price {
  color: #383838;
  justify-self: center;
}

div .cart_item:last-child {
  padding-top: 5%;
  font-weight: bold;
}

div .cart_item .total {
  align-self: center;
}

div .cart:last-child {
  padding-top: 40px;
}

.total_p {
  font-size: 24px;
}

.resumen_orden {
  margin: 20px 5px;
}

@media (min-width: 64em) {
  .resumen_orden {
    display: none;
  }
}

.tu_compra {
  margin: 0 auto;
  text-align: left;
  text-decoration: none;
}

.nav_pasos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.steps {
  display: grid;
  grid-template-columns: 1fr 3fr;
  max-width: 160px;
}

.steps_text {
  margin-left: 5px;
  padding: 5px;
  display: grid;
  grid-template-rows: 0.5fr .5fr;
}

.steps_text_title {
  font-weight: bold;
  font-size: 15px;
}

.steps_text_specific {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.steps:last-child {
  max-width: 130px;
}

.ionito {
  display: block;
  background-color: lightgray;
  color: grey;
  padding: 10px;
  border-radius: 50%;
  align-self: center;
  justify-self: center;
}

.active {
  background-color: #0275d8;
  color: white;
}

.mobile {
  margin: 5%;
}

@media (min-width: 64em) {
  .mobile {
    display: none;
  }
}

.desktop {
  margin: 3%;
  display: none;
}

@media (min-width: 64em) {
  .desktop {
    display: grid;
  }
}

.footer_logo {
  margin: 0 auto;
}

.asociate {
  width: 150px;
}

.social-icons {
  padding-bottom: 10px;
}

.social-icons a {
  padding: 5px;
}

@media (min-width: 40em) {
  .qr {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    width: 25%;
    margin: 0 auto;
    padding: 10px 0px;
    max-width: 300px;
  }
}

.qr a img {
  width: 10%;
  padding-bottom: 10px;
}

@media (min-width: 40em) {
  .qr a img {
    width: 100%;
    padding-bottom: 0px;
  }
}

.qr p {
  font-size: 11px;
  text-align: center;
}

.image-18 {
  margin-top: 0 !important;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */